---
layout: default
---

<h1 class="border border-top-0 border-right-0 border-left-0 mb-3 pb-2">{{ page.title }}</h1>

<div class="d-md-block d-lg-none">
    {% include components/post-meta.html %}
</div>

<div class="row">
    {% if page.no-post-nav %}
    <div class="col-md-12 markdown-body">
        {{ content }}
        {% include copyright.html %}

        <!-- Comments -->
        <!-- include disqus-comments.html -->
        {% include comment.html %}
    </div>
    {%else}
    <div class="col-md-8 markdown-body">
        {{ content }}
        {% include copyright.html %}

        <!-- Comments -->
        <!-- include disqus-comments.html -->
        {% include comment.html %}
    </div>

    <div class="col-md-4">
        {% include sidebar-post-nav.html %}
    </div>
    {% endif %}
</div>

{{ content }}

